<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>A list of All Available Courses</title>
</head>

<body>
    <header>
        <h1>A list of All Courses</h1>
    </header>
    
    <main> 
        <ul>
            <li th:each="course: ${coursesModel}"><a th:href="|/show-courses/${course.id}|"
             th:text="${course.name}"></a></li>
        </ul>
    </main>

    <footer> 
        <small>Copyright South Harmon Institutue</small>
    </footer>
</body>
</html>


<section id="sidebar>"
        <div>
            <h6>

                    <div class="dropdown" style="float:left;">
                            <button class="dropbtn">Recent Projects</button>
                            <div class="dropdown-content" style="left:0;">
                            <a href="#">Building Websites</a>
                            <a href="#">Linking Pictures</a>
                            <a href="#">Using HTML and CSS</a>
                            </div>
                          </div>

                    <div class="dropdown" style="float:left;">
                                <button class="dropbtn">About Me</Menu></button>
                                <div class="dropdown-content">
                                <a href="#">yummy</a>
                                </div>
                              </div>

                    <div class="dropdown" style="float:left;">
                                    <button class="dropbtn">Get In Touch</button>
                                    <div class="dropdown-content">
                                    <!--<a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a> -->
                                    </div>
                                  </div>     
